@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@media only screen and (min-width: 600px) {
  .appAlert {
    background-color: red !important;
  }

  .appAlert button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 2rem;

  }

  .citySearchWrapper {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }

  .form-control {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .search {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 1rem;
  }


  .searchSubmit {
    margin-left: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .forecastSubmit {
    margin: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .movieSubmit {
    margin: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .cityMapWrapper img {
    max-height: 100%;
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .cityLocation {
    background-color: rgba(255, 217, 0, 0.87);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    max-height: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .cityLatLonWrapper {
    max-height: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.877);
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  }

}

@media only screen and (max-width: 600px) {
  .appAlert {
    background-color: red !important;
  }

  .appAlert button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 2rem;

  }

  .citySearchWrapper {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }

  .form-control {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .search {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 1rem;
  }


  .searchSubmit {
    margin-left: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .forecastSubmit {
    margin: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .movieSubmit {
    margin: 1rem;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .cityMapWrapper img {
    max-height: 100%;
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .cityLocation {
    background-color: rgba(255, 217, 0, 0.87);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    max-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .cityLatLonWrapper {
    max-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.877);
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  }
}